* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.masukan {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.input-masukan {
    font-size: x-large;
    padding: none;
    margin: 10px;
    margin-left: 0;
    width: 100px;
    height: 100px;
}

.hasil {
    font-size: large;
    margin: 15px;
    margin-left: 0;
}

main {
    max-width: 500px;
    margin: auto;
}